<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DBSrv\SQL2021;Initial Catalog=007ca2_NovoseltsevSA_3;Integrated Security=True;MultipleActiveResultSets=true;"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>  